@media (max-width:1200px) {
  .wrapper{
      margin:0;
      width:100%;
  }
    .header-container{
        height: auto;
    }
    header,
    .header-container nav{
        display: none;
    }
    .main-container h1{
            font-size: 31px;
    line-height: 1.2;
    }
.logo {
    width: 59px;
}
.contacts-table__right{
    width: auto;
    padding: 30px;
}
.title--gray,
.title--red {
line-height: 1.2;
font-size: 18px;
letter-spacing: 0.2px;
width: auto;
}

.title--gray{
    top:0;
}

.column__wrapper{
    float: none;
    margin-right: 0;
    padding: 60px;
}
.why__pictures{
    text-align: center
}
.contacts-table__right,
.contacts-table__left,
.map-info,
.spheres-item,
.main-container__info,
.whies-item,
.column{
    width:100%;
}
.column--middle{
    padding: 45px 0;
}
.contacts-table__right{
    border:none
}
}