* {
  box-sizing: border-box;
}
@font-face {
    font-family: 'BebasNeueBold';
    font-style: normal;
    font-weight: 600;
    src: local('BebasNeueBold'),
        url('../fonts/BebasNeueBold.ttf') format('ttf');
}
@font-face {
    font-family: 'BebasNeueRegular';
    font-style: normal;
    font-weight: 400;
    src: local('BebasNeueRegular'),
        url('../fonts/BebasNeueRegular.ttf') format('ttf');
}
img {
  max-width: 100%;
}

.main-container {
  height: 830px;
}

.header-logo {
  background: #000;
  width: 189px;
  height: 251px;
  padding: 40px 24px 10px;
  box-sizing: border-box;
  position: relative;
  top: -130px;
}

.telephone {
  font-family: Roboto-Regular;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 0.27px;

  margin: 0;
  padding: 20px 0;
}

[class*='-inner-panes'] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

/* Первый слайд */
.header-container {
  height: 831px;
  background: url("../img/main.png");
  background-size: cover;
}
.title--gray,
.title--red {
  font-family: BebasNeueBold;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 0.53px;
  line-height: 53px;
  padding: 25px 30px;
  display: block;
}
.btn {
  font-family: BebasNeueBold;
  font-size: 24px;
  color: #ffffff;
  border: none;
  letter-spacing: 0.27px;
  width: 189px;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  background: rgba(224, 171, 43, .8);
  display: block;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}
.title--red {
  width: 824px;
  position: relative;
  z-index: 2;
  background: rgba(149, 48, 48, .8);
}
.title--gray {
  width: 635px;
  margin: 0 0 0 auto;
  position: relative;
  z-index: 1;
  top: -16px;
  background: rgba(156, 162, 164, .8);
}

.back-setka {
  background: url(../img/grey_background.png);
  background-size: 100px;
}

.main-container h1 {
  font-family: BebasNeueRegular;
  font-size: 48px;
  color: #AC353C;
  letter-spacing: 2.18px;
}

.main-container h2 {
  font-family: BebasNeueRegular;
  font-size: 23px;
  color: #404040;
  letter-spacing: 1.05px;
}

/* Инфо */

.column {
  display: inline-block;
  text-align: center;
  width: 190px;
  margin-right: 40px;
}
.column__firstcell {
  font-family: BebasNeueRegular;
  font-size: 72px;
  color: #ac353c;
  letter-spacing: 3.27px;
  line-height: 1;
  border: 5px solid;
  padding: 29px 0;
}
.column__firstcell div {
  font-family: BebasNeueRegular;
  font-size: 144px;
  color: #ac353c;
  letter-spacing: 6.55px;
  line-height: 134px;
}

.column__secondcell {
  font-size: 20px;
  color: #404040;
  letter-spacing: 0.91px;
  border: 5px solid #404040;
  border-top: none;
  padding: 4px 0;
  text-transform: uppercase;
}
.info {
  display: inline-block;
  width: 500px;
  vertical-align: top;
}
.info_item {
  font-family: Roboto-Regular;
  text-transform: uppercase;
}
.info p {
  margin: 0 0 20px;
}
.subtext {
  margin-top: 30px;
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #9CA2A4;
  letter-spacing: 0.82px;
}

/* Технология */
.spheres {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.spheres-item {
  height: 203px;
  flex-grow: 1;
  width: 33%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.galery-title,
.spheres-title {
  background: rgba(172, 53, 60, 0.80);
  font-family: BebasNeueRegular;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0.95px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.spheres-item img {
  object-fit: cover;
}
.whies {
  font-size: 0;
}
.whies-item {
  display: inline-block;
  width: 25%;
  text-align: center;
}
.whies-item img {
  height: 145px;
}
.why__pictures {
  padding-top: 15px;
}
.why__pictures img {
  margin-right: 15px;
  vertical-align: baseline;
  filter: grayscale(40%);
}
.whies-title {
  font-family: BebasNeueRegular;
  font-size: 23px;
  letter-spacing: 1.05px;
  padding-top: 25px;
}
.back-grey {
  background-color: #9ca2a4;
}

/* Галерея */
.galery .galery-item {
  width: 480px;
  height: 320px;
  display: flex;
  transition: all 0.3s;
  opacity: 0.4;
  position: relative;
  margin-top: 10px;
}
.galery .galery-item img {
  object-fit: cover;
  cursor: pointer;
}

.slick-track {
  height: 500px;
}

.galery .slick-slide.slick-active:focus {
  outline: none;
}

.galery  .slick-active.slick-center .galery-item {
  width: 520px;
  height: 346px;
  display: flex;
  opacity: 1;
  margin-top: 0;
}

.galery .slick-dots li button:before {
  width: 24px;
  height: 24px;

  background-color: #d8d8d8;
  border-radius: 50%;
  content: '';
}

.slick-dots li.slick-active button:before {
  background-color: #ae494f;
}

/* Наши контакты */
.contacts-table {
  font-size: 0;
}

.contacts-table__right,
.contacts-table__left {
  display: inline-block;
  vertical-align: top;
  height: 400px;
}
.contacts-table__left {
  width: calc(100% - 450px);
  border-right: 1px solid #979797;
}

.contacts-table__right {
  width: 450px;
  padding-left: 30px;
}

.map-info__title {
  font-family: BebasNeueRegular;
  font-size: 36px;
  color: #404040;
  letter-spacing: 1.64px;
}
.map-info__phone {
  font-family: Roboto-Bold;
  font-size: 24px;
  color: #ad353c;
  letter-spacing: 0.27px;
}
.map-info__mail {
  font-family: Roboto-Bold;
  font-size: 24px;
  color: #ad353c;
  letter-spacing: 0.27px;
}
.map-info__address {
  font-family: Roboto-Regular;
  font-size: 20px;
  color: #ad353c;
  letter-spacing: 0.22px;
}

.contactform {
  font-size: 18px;
  display: none;
}

.modal__form {
  width: 500px;
  padding-top: 30px;

  overflow-y: hidden;
  -webkit-transition: .8s;
  transition: .8s;
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-bottom: 5px;
  width: calc(100% - 10px);
  vertical-align: top;
}
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  -webkit-appearance: none;
}
.input__field:focus {
  outline: none;
}
.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #696969;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
.input {
  background: #fff;
  overflow: hidden;
  padding: 0.25em 0;
}
.input::after {
  content: '';
  width: 1px;
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  left: 2.5em;
  background: #f0f0f0;
  z-index: 100;
}
.input__field {
  background: transparent;
  padding: 1em 1em 0.25em 2.55em;
  width: 100%;
  color: #404040;
  font-size: 22px;
}
.input__label {
  position: absolute;
  width: 100%;
  text-align: left;
  padding-left: 5em;
  pointer-events: none;
}
.icon {
  width: 2em;
  position: absolute;
  top: 0;
  left: 0;
  padding: 21.4px 12.5px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.input__label-content {
  padding: .9em 0;
  font-size: 18px;
  display: inline-block;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.input__label-content span {
  display: inline-block;
}
.input__field:focus + .input__label .input__label-content,
.input--filled .input__label-content {
  -webkit-animation: anim-fumi-1 0.3s forwards;
  animation: anim-fumi-1 0.3s forwards;
}
@-webkit-keyframes anim-fumi-1 {
  50% {
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  51% {
    -webkit-transform: translate3d(0, -3em, 0) scale3d(0.85, 0.85, 1);
    transform: translate3d(0, -3em, 0) scale3d(0.65, 0.65, 1);
  }
  100% {
    color: #a3a3a3;
    -webkit-transform: translate3d(0, -0.4em, 0) scale3d(0.85, 0.85, 1);
    transform: translate3d(0, -0.4em, 0) scale3d(0.65, 0.65, 1);
  }
}

@keyframes anim-fumi-1 {
  50% {
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  51% {
    -webkit-transform: translate3d(0, -3em, 0) scale3d(0.85, 0.85, 1);
    transform: translate3d(0, -3em, 0) scale3d(0.65, 0.65, 1);
  }
  100% {
    color: #a3a3a3;
    -webkit-transform: translate3d(0, -0.4em, 0) scale3d(0.85, 0.85, 1);
    transform: translate3d(0, -0.4em, 0) scale3d(0.65, 0.65, 1);
  }
}

.input__field:focus + .input__label .icon,
.input--filled .icon {
  -webkit-animation: anim-fumi-2 0.3s forwards;
  animation: anim-fumi-2 0.3s forwards;
}

@-webkit-keyframes anim-fumi-2 {
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -3em, 0);
    transform: translate3d(0, -3em, 0) scale(1.5);
  }
  50.25% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3em, 0);
    transform: translate3d(0, -3em, 0) scale(1.5);
  }
  50.75% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0) scale(1.5);
  }
  51% {
    opacity: 1;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0) scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) scale(1.5);
    color: rgba(248, 176, 69, 1);
  }
}

@keyframes anim-fumi-2 {
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -3em, 0);
    transform: translate3d(0, -3em, 0) scale(1.5);
  }
  50.25% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3em, 0);
    transform: translate3d(0, -3em, 0) scale(1.5);
  }
  50.75% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0) scale(1.5);
  }
  51% {
    opacity: 1;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0) scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) scale(1.5);
    color: rgba(248, 176, 69, 1);
  }
}
.modal__btn {
  margin: 15px 5px;
  width: calc(100% - 10px);
  padding: 10px;
  background: rgba(151, 199, 17, .65);
  text-transform: uppercase;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  color: #fff;
  letter-spacing: 1px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  -webkit-transition: .8s;
  transition: .8s;
}
.modal__btn:hover {
  background: rgba(151, 199, 17, 1);
}
.modal__success {
  width: 600px;
  position: absolute;
  top: 40%;
  left: calc(50% - 300px);
  background: rgba(151, 199, 17, .9);
  padding: 35px 15px;
  text-align: center;
  display: none;
}
.modal__success-top {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.modal__success-bottom {
  font-size: 18px;
}
textarea {
  width: calc(100% - 10px);
  margin: 5px 5px 10px 5px;
  border: none;
  height: 85px;
  padding: 10px;
  resize: none;
}
.modal__check {
  display: none;
}
.modal__check + label {
  color: #fff;
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  padding-left: 40px;
  margin-top: 9px;
  letter-spacing: .4px;
}
.modal__check + label a {
  text-decoration: underline;
}
.modal__check + label:before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  background: #fff;
  top: 3px;
  left: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modal__check:checked + label:before {
  background: #696969;
  border: 5px solid #fff;
}
